@import "tailwindcss";

body {
  padding-top: 60px;
}


.nav{
  display: flex;
  justify-content: center;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;

}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 30px;
  
}
