body,
html{
  margin: 0px;
  padding: 0px;
  background-color: #222;
}

.parent{
  display: flex;
  justify-content: center;
  padding:  20px 30px;
  margin: 10px 20px;
}

.bottom{
  display: flex;
  margin: 20px 50px;
}